{
  "arrowParens": "avoid",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "overrides": [
    {
      "files": ["*.html", "*.svg", "*.css"],
      "options": {
        "doubleQuote": true
      }
    },
    {
      "files": ["*.json", ".stylelintrc"],
      "options": {
        "tabWidth": 2,
        "parser": "json"
      }
    }
  ]
}
